<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992136666092-j6qg85fkh2aj3q85oqf5i4hjo3jq2nbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992136666092-j6qg85fkh2aj3q85oqf5i4hjo3jq2nbd</string>
	<key>API_KEY</key>
	<string>AIzaSyATzOC75NbEDDA3c1z35KyoIsbII4ckw00</string>
	<key>GCM_SENDER_ID</key>
	<string>992136666092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozancicek.BilgeApp</string>
	<key>PROJECT_ID</key>
	<string>bilgeapp-48bc6</string>
	<key>STORAGE_BUCKET</key>
	<string>bilgeapp-48bc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992136666092:ios:a3e5bc351342dc76e93ec9</string>
</dict>
</plist>